<div class="mapping">
	<ul class="mapping-nav">
		<li><a href="/projects#ourwork">our work</a></li>
		<li><a href="wip.html">works in progress</a></li>
		<li><a href="publications-page.html">publications</a></li>
		<li><a href="contact-page.html">contact</a></li>
	</ul>
</div>
